[submodule "musl"]
	path = musl
	url = git://git.musl-libc.org/musl

[submodule "busybox"]
	path = busybox
	url = git://busybox.net/busybox.git
[submodule "zlib"]
	path = zlib
	url = https://github.com/madler/zlib.git
[submodule "openssh"]
	path = openssh
	url = https://github.com/openssh/openssh-portable.git
