[submodule "musl"]
	path = musl
	url = git://git.musl-libc.org/musl

[submodule "busybox"]
	path = busybox
	url = git://busybox.net/busybox.git
[submodule "libseccomp"]
	path = libseccomp
	url = https://github.com/seccomp/libseccomp
